
ddgclib/.idea/vcs.xml
ddgclib/.idea/workspace.xml
ddgclib/.idea/*
*.xml
*.pyc
00_jupyter_delvopment_files/04_Save_wichtige_Ergebnisse_contact_angle_Variation/global_contact_angle_deactivated_refinement_3/contact_angle0.0_d5.2mm_l1.5mm_iteration100000.0_refinement3dfmaxcontact_angle_list_top.txt
00_jupyter_delvopment_files/04_Save_wichtige_Ergebnisse_contact_angle_Variation/global_contact_angle_deactivated_refinement_4/contact_angle0.0_d5.2mm_l1.5mm_iteration100000.0_refinement4dfmaxcontact_angle_list_top.txt
00_jupyter_delvopment_files/05_Save_Tangential_Verschiebung/surface_tension_change_global_contact_angle_deactivated_refinement_3/contact_angle_list_top_gamma72_contact_angle573.0_d5.2mm_l2.0mm_iteration100000.0_refinement3.txt
00_jupyter_delvopment_files/05_Save_Tangential_Verschiebung/surface_tension_change_global_contact_angle_deactivated_refinement_3/volume_list_gamma72_contact_angle573.0_d5.2mm_l2.0mm_iteration100000.0_refinement3.txt
00_jupyter_delvopment_files/05_Save_Tangential_Verschiebung/tangential_refinement3_shift1_S0_20/tangential_refinement3_shift1_S0_20_rl3.37mm_ru3.37mm_l4mm_ref3_contactangle0.40142572795869574_tau1_itermax70000.0.json
00_jupyter_delvopment_files/05_Save_Tangential_Verschiebung/tangential_refinement3_shift1_S0_25/tangential_refinement3_shift1_S0_25_rl3.37mm_ru3.37mm_l5mm_ref3_contactangle0.40142572795869574_tau1_itermax70000.0.json
